<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ProductController</servlet-name>
  	<display-name>ProductController</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.ProductController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginController</servlet-name>
  	<display-name>LoginController</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.LoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterController</servlet-name>
  	<display-name>RegisterController</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.RegisterController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserController</servlet-name>
  	<display-name>UserController</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.UserController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>IndexController</servlet-name>
  	<display-name>IndexController</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.IndexController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BookingController</servlet-name>
  	<display-name>BookingController</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.BookingController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminBookingController</servlet-name>
  	<display-name>AdminBookingController</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.AdminBookingController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GalleryController</servlet-name>
  	<display-name>GalleryController</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.GalleryController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GalleryUser</servlet-name>
  	<display-name>GalleryUser</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.GalleryUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Menucotroller</servlet-name>
  	<display-name>Menucotroller</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.Menucotroller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CartController</servlet-name>
  	<display-name>CartController</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.CartController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ContactController</servlet-name>
  	<display-name>ContactController</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.ContactController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminController</servlet-name>
  	<display-name>AdminController</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.AdminController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AboutController</servlet-name>
  	<display-name>AboutController</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.AboutController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FeatureController</servlet-name>
  	<display-name>FeatureController</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.FeatureController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FeatureUserController</servlet-name>
  	<display-name>FeatureUserController</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.FeatureUserController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReviewServlet</servlet-name>
  	<display-name>ReviewServlet</display-name>
  	<description></description>
  	<servlet-class>com.abc.controller.ReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ProductController</servlet-name>
  	<url-pattern>/ProductController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginController</servlet-name>
  	<url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterController</servlet-name>
  	<url-pattern>/RegisterController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserController</servlet-name>
  	<url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>IndexController</servlet-name>
  	<url-pattern>/IndexController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BookingController</servlet-name>
  	<url-pattern>/BookingController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminBookingController</servlet-name>
  	<url-pattern>/AdminBookingController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GalleryController</servlet-name>
  	<url-pattern>/GalleryController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GalleryUser</servlet-name>
  	<url-pattern>/GalleryUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Menucotroller</servlet-name>
  	<url-pattern>/Menucotroller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CartController</servlet-name>
  	<url-pattern>/CartController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ContactController</servlet-name>
  	<url-pattern>/ContactController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminController</servlet-name>
  	<url-pattern>/AdminController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AboutController</servlet-name>
  	<url-pattern>/AboutController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FeatureController</servlet-name>
  	<url-pattern>/FeatureController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FeatureUserController</servlet-name>
  	<url-pattern>/FeatureUserController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReviewServlet</servlet-name>
  	<url-pattern>/ReviewServlet</url-pattern>
  </servlet-mapping>
</web-app>
